@import compass/reset

body
  background: black
  font-family: monospace
  color: white

.top-bar
  display: block
  height: 80px
  position: absolute
  top: 0
  left: 0
  right: 0
  z-index: 90
  background: url('../img/banner.png') no-repeat center black
  background-size: 100%
  .top-bar-logo
    height: 80px
    width: 100%
    font-size: 30px
    background: url('../img/logo.png') no-repeat center
    background-size: 320px

.main
  padding-top: 250px
  text-align: center
  background: url("../img/bg.png") no-repeat bottom
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0


.loop
  height: 2px
  background: white
  border-radius: 10px
  z-index: 90
  width: 300px
  position: fixed
  top: 180px
  left: 50%
  margin-left: -150px
  box-shadow: 0 0px 20px 5px #CE07AB
  .loop-pointer
    position: absolute
    left: 0%
    top: 0
    content: '&#x25B2;'
    background: url("../img/loop-pointer.svg") no-repeat bottom
    background-size: 20px
    width: 20px
    height: 20px
    color: white
    display: block


@keyframes pulse
  0%
    box-shadow: 0 0px 40px 5px #CE07AB
  50%
    box-shadow: 0 0px 60px 10px #CE07AB
  100%
    box-shadow: 0 0px 40px 5px #CE07AB

@-webkit-keyframes pulse
  0%
    box-shadow: 0 0px 40px 5px #CE07AB
  50%
    box-shadow: 0 0px 60px 10px #CE07AB
  100%
    box-shadow: 0 0px 40px 5px #CE07AB

.instrument
  width: 100px
  height: 100px
  border-radius: 50%
  border: 3px solid white
  margin: 0 20px
  display: inline-block
  transition: box-shadow 0.1s linear
  cursor: pointer
  &.is-pressed
    box-shadow: 0 0px 60px 10px #CE07AB
    animation: pulse 0.3s infinite ease
    -webkit-animation: pulse 0.3s infinite ease
  &.is-recording, &:hover
    box-shadow: 0 0px 20px 5px #CE07AB

  &.mod-synth
    background: url('../img/synth-active.svg') no-repeat center 5px
    background-size: 200px
  &.mod-drums
    background: url('../img/drums-active.svg') no-repeat center 5px
    background-size: 200px
  &.mod-bass
    background: url('../img/bass-active.svg') no-repeat center 5px
    background-size: 200px

.notification-bar
  text-align: center
  font-size: 30px
  position: fixed
  bottom: 180px
  width: 800px
  left: 50%
  margin-left: -400px
  text-shadow: 1px 2px 0px #CE07AB


// Welcome screen

.welcome
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: url("../img/welcome.jpg") no-repeat center
  background-size: cover
  .welcome-text
    font-size: 30px
    text-align: center
    position: absolute
    bottom: 50%
    margin-bottom: -140px
    left: 0
    right: 0
    text-shadow: 1px 2px 0px #CE07AB
    .welcome-text-blink
      animation: blinker 1s linear infinite

@keyframes blinker
  50%
    opacity: 0

.keyboard
  position: fixed
  bottom: 5px
  height: 100px
  width: 100%
  left: 2%

  .white-key, .black-key
    &.is-pressed
      border-color: white
      box-shadow: 0 0px 20px 5px #CE07AB

  .white-key
    height: 100%
    width: 4%
    border: 3px solid #67124D
    background: transparent
    box-sizing: border-box
    float: left
    border-bottom-left-radius: 6px
    border-bottom-right-radius: 6px
    position: relative

  .black-key
    width: 2%
    height: 70%
    background: black
    position: absolute
    border-bottom-left-radius: 5px
    border-bottom-right-radius: 5px
    left: 3%
    z-index: 20
    box-sizing: border-box
    border: 3px solid #67124D
    &.two
      left: 7%
    &.three
      left: 15%
    &.four
      left: 19%
    &.five
      left: 23%
    &.six
      left: 31%
    &.seven
      left: 35%
    &.eight
      left: 43%
    &.nine
      left: 47%
    &.ten
      left: 51%
    &.eleven
      left: 59%
    &.twelve
      left: 63%
    &.thirteen
      left: 71%
    &.fourteen
      left: 75%
    &.fifteen
      left: 79%
    &.sixteen
      left: 87%
    &.seventeen
      left: 91%

.layout-change
  border: 3px solid #67124D
  border-radius: 5px
  height: 40px
  position: fixed
  bottom: 120px
  left: 2%
  background: transparent
  font-size: 15px
  font-weight: 600
  outline: 0
  font-family: monospace
  color: #67124D
  line-height: 35px
  padding: 0 20px
  cursor: pointer
  &:hover
    border-color: white
    color: white
