/* line 5, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../../sass/screen.sass */
body {
  background: black;
  font-family: monospace;
  color: white;
}

/* line 8, ../../sass/screen.sass */
.top-bar {
  display: block;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 90;
  background: url("../img/banner.png") no-repeat center black;
  background-size: 100%;
}
/* line 18, ../../sass/screen.sass */
.top-bar .top-bar-logo {
  height: 80px;
  width: 100%;
  font-size: 30px;
  background: url("../img/logo.png") no-repeat center;
  background-size: 320px;
}

/* line 25, ../../sass/screen.sass */
.main {
  padding-top: 250px;
  text-align: center;
  background: url("../img/bg.png") no-repeat bottom;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 36, ../../sass/screen.sass */
.loop {
  height: 2px;
  background: white;
  border-radius: 10px;
  z-index: 90;
  width: 300px;
  position: fixed;
  top: 180px;
  left: 50%;
  margin-left: -150px;
  box-shadow: 0 0px 20px 5px #CE07AB;
}
/* line 47, ../../sass/screen.sass */
.loop .loop-pointer {
  position: absolute;
  left: 0%;
  top: 0;
  content: "&#x25B2;";
  background: url("../img/loop-pointer.svg") no-repeat bottom;
  background-size: 20px;
  width: 20px;
  height: 20px;
  color: white;
  display: block;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0px 40px 5px #CE07AB;
  }
  50% {
    box-shadow: 0 0px 60px 10px #CE07AB;
  }
  100% {
    box-shadow: 0 0px 40px 5px #CE07AB;
  }
}
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0px 40px 5px #CE07AB;
  }
  50% {
    box-shadow: 0 0px 60px 10px #CE07AB;
  }
  100% {
    box-shadow: 0 0px 40px 5px #CE07AB;
  }
}
/* line 76, ../../sass/screen.sass */
.instrument {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid white;
  margin: 0 20px;
  display: inline-block;
  transition: box-shadow 0.1s linear;
  cursor: pointer;
}
/* line 85, ../../sass/screen.sass */
.instrument.is-pressed {
  box-shadow: 0 0px 60px 10px #CE07AB;
  animation: pulse 0.3s infinite ease;
  -webkit-animation: pulse 0.3s infinite ease;
}
/* line 89, ../../sass/screen.sass */
.instrument.is-recording, .instrument:hover {
  box-shadow: 0 0px 20px 5px #CE07AB;
}
/* line 92, ../../sass/screen.sass */
.instrument.mod-synth {
  background: url("../img/synth-active.svg") no-repeat center 5px;
  background-size: 200px;
}
/* line 95, ../../sass/screen.sass */
.instrument.mod-drums {
  background: url("../img/drums-active.svg") no-repeat center 5px;
  background-size: 200px;
}
/* line 98, ../../sass/screen.sass */
.instrument.mod-bass {
  background: url("../img/bass-active.svg") no-repeat center 5px;
  background-size: 200px;
}

/* line 102, ../../sass/screen.sass */
.notification-bar {
  text-align: center;
  font-size: 30px;
  position: fixed;
  bottom: 180px;
  width: 800px;
  left: 50%;
  margin-left: -400px;
  text-shadow: 1px 2px 0px #CE07AB;
}

/* line 115, ../../sass/screen.sass */
.welcome {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../img/welcome.jpg") no-repeat center;
  background-size: cover;
}
/* line 123, ../../sass/screen.sass */
.welcome .welcome-text {
  font-size: 30px;
  text-align: center;
  position: absolute;
  bottom: 50%;
  margin-bottom: -140px;
  left: 0;
  right: 0;
  text-shadow: 1px 2px 0px #CE07AB;
}
/* line 132, ../../sass/screen.sass */
.welcome .welcome-text .welcome-text-blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
/* line 139, ../../sass/screen.sass */
.keyboard {
  position: fixed;
  bottom: 5px;
  height: 100px;
  width: 100%;
  left: 2%;
}
/* line 147, ../../sass/screen.sass */
.keyboard .white-key.is-pressed, .keyboard .black-key.is-pressed {
  border-color: white;
  box-shadow: 0 0px 20px 5px #CE07AB;
}
/* line 151, ../../sass/screen.sass */
.keyboard .white-key {
  height: 100%;
  width: 4%;
  border: 3px solid #67124D;
  background: transparent;
  box-sizing: border-box;
  float: left;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  position: relative;
}
/* line 162, ../../sass/screen.sass */
.keyboard .black-key {
  width: 2%;
  height: 70%;
  background: black;
  position: absolute;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  left: 3%;
  z-index: 20;
  box-sizing: border-box;
  border: 3px solid #67124D;
}
/* line 173, ../../sass/screen.sass */
.keyboard .black-key.two {
  left: 7%;
}
/* line 175, ../../sass/screen.sass */
.keyboard .black-key.three {
  left: 15%;
}
/* line 177, ../../sass/screen.sass */
.keyboard .black-key.four {
  left: 19%;
}
/* line 179, ../../sass/screen.sass */
.keyboard .black-key.five {
  left: 23%;
}
/* line 181, ../../sass/screen.sass */
.keyboard .black-key.six {
  left: 31%;
}
/* line 183, ../../sass/screen.sass */
.keyboard .black-key.seven {
  left: 35%;
}
/* line 185, ../../sass/screen.sass */
.keyboard .black-key.eight {
  left: 43%;
}
/* line 187, ../../sass/screen.sass */
.keyboard .black-key.nine {
  left: 47%;
}
/* line 189, ../../sass/screen.sass */
.keyboard .black-key.ten {
  left: 51%;
}
/* line 191, ../../sass/screen.sass */
.keyboard .black-key.eleven {
  left: 59%;
}
/* line 193, ../../sass/screen.sass */
.keyboard .black-key.twelve {
  left: 63%;
}
/* line 195, ../../sass/screen.sass */
.keyboard .black-key.thirteen {
  left: 71%;
}
/* line 197, ../../sass/screen.sass */
.keyboard .black-key.fourteen {
  left: 75%;
}
/* line 199, ../../sass/screen.sass */
.keyboard .black-key.fifteen {
  left: 79%;
}
/* line 201, ../../sass/screen.sass */
.keyboard .black-key.sixteen {
  left: 87%;
}
/* line 203, ../../sass/screen.sass */
.keyboard .black-key.seventeen {
  left: 91%;
}

/* line 206, ../../sass/screen.sass */
.layout-change {
  border: 3px solid #67124D;
  border-radius: 5px;
  height: 40px;
  position: fixed;
  bottom: 120px;
  left: 2%;
  background: transparent;
  font-size: 15px;
  font-weight: 600;
  outline: 0;
  font-family: monospace;
  color: #67124D;
  line-height: 35px;
  padding: 0 20px;
  cursor: pointer;
}
/* line 222, ../../sass/screen.sass */
.layout-change:hover {
  border-color: white;
  color: white;
}
